- breadcrumb_title _("Security and Compliance")
- page_title _("Security and Compliance")
- add_page_specific_style 'page_bundles/settings'
- @force_desktop_expanded_sidebar = true

%section.settings.as-license-compliance.no-animate#js-license-compliance-settings{ class: ('expanded' if expanded_by_default?), data: { testid: 'admin-license-compliance-settings' } }
  .settings-header
    %h4.settings-title.js-settings-toggle.js-settings-toggle-trigger-only
      = _('License Compliance')
    = render Pajamas::ButtonComponent.new(button_options: { class: 'js-settings-toggle' }) do
      = expanded_by_default? ? _('Collapse') : _('Expand')
    %p.gl-text-secondary
      = _('Settings for the License Compliance feature')
  .settings-content
    = render 'license_compliance'

- if (::Gitlab::CurrentSettings.gitlab_dedicated_instance? || Feature.enabled?(:pre_receive_secret_detection_beta_release)) && License.feature_available?(:pre_receive_secret_detection)
  %section.settings.as-secret-detection.no-animate#js-secret-detection-settings{ class: ('expanded' if expanded_by_default?), data: { testid: 'admin-secret-detection-settings' } }
    .settings-header
      .gl-display-flex
        %h4.settings-title.js-settings-toggle.js-settings-toggle-trigger-only
          = _('Secret Detection')
      = render Pajamas::ButtonComponent.new(button_options: { class: 'js-settings-toggle' }) do
        = expanded_by_default? ? _('Collapse') : _('Expand')
      %p.gl-text-secondary
        = _('Manage secret detection behavior for all projects in your GitLab instance')
    .settings-content
      = render 'pre_receive_secret_detection'
